# Zen Of Python

In [15]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

* Date -> 10-3-2023
# Class 1

In [1]:
print('Welcome to SMIT.')
print('Hello world.')

Welcome to SMIT.
Hello world.

* Date -> 14-3-2023
# Class 2
* Help
    * **function_name()**
    * help function
    * function?
    * function??
    * ?function
    * ??function
* Print
    * value ,
    * sep
    * end
* Variable
    * string
        * starts with **"** & ends with **"**
        * "Muhammad Bilal"
        * You can also use these symbols for define string
            * ```'``` single line string
            * ```"``` single line string
            * ```'''``` multilines string
            * ```"""``` multilines string
    * number
       * int
           * ```1```
       * float
           * ```1.5```
    * with print

In [5]:
help(print) # (shift+tab) for the defination of function
print?
print??
??print
?print

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

# Function & Parameters

In [7]:
# \(back slash)  = special character
print(1,2,3,4,5,end = '\n')
print(1,2,3,4,5,end = '\n')
print("A","B","C","D")
# seprator keyword
print("A","B","C","D",sep='')
print("line1")
print("line2")
print("line3")
# end keyword
print("line1",end=">>>")
print("line2",end=">>>")
print("line3",end=">>>")
print(1,2,3,4,5,sep="*")
print("A","B","C","D","E",sep=">")
print('i','ii','iii','iv','v',sep="<")
# merging lines
print(1,2,3,4,5,sep="*",end=',')
print("A","B","C","D","E",sep=">",end=',')
print('i','ii','iii','iv','v',sep="<",end='.')

1 2 3 4 5
1 2 3 4 5
A B C D
ABCD
line1
line2
line3
line1>>>line2>>>line3>>>1*2*3*4*5
A>B>C>D>E
i<ii<iii<iv<v
1*2*3*4*5,A>B>C>D>E,i<ii<iii<iv<v.

# Variable

* https://peps.python.org/pep-0020/

    **```Variable_name = value```**

In [16]:
user = "Muhammad Bilal"
print(user)
print(user)
print(user)
print("Muhammad Bilal")
print("Muhammad Bilal")
print("Muhammad Bilal")

Muhammad Bilal
Muhammad Bilal
Muhammad Bilal
Muhammad Bilal
Muhammad Bilal
Muhammad Bilal

In [25]:
name = "Muhammad Bilal"
age = 19
Education = "BBA"

print("Happy Birthday",name,"today is your birthday",age)

Happy Birthday Muhammad Bilal today is your birthday 19

In [24]:
card = """
     SMIT
Muhammad Bilal
Batch No4 AI & DS
AI-120312
"""
print(card)

     SMIT
Muhammad Bilal
Batch No4 AI & DS
AI-120312

# Apply some function on variable
    * help()
    * len()
    * id()
    * type()
    * dir()

In [35]:
name = "Muhammad Bilal"
print(name)
print(len(name)) # lenght of variable
print(id(name)) # Memory address of variable
print(type(name)) # Type of function
print(dir(name)) # All methods and attributes of variable

Muhammad Bilal
14
1353567149680
<class 'str'>
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [37]:
age = 19

print(age)
# print(len(age))  lenght of variable
print(id(age)) # Memory address of variable
print(type(age)) # Type of function
print(dir(age)) # All methods and attributes of variable

19
1353482988400
<class 'int'>
['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

* Date ->17-3-2023
# Class 3

In [31]:
from math import *
c = int(input("Area Of Circle:"))
Area_Of_Circle = c/2*pi
print(Area_Of_Circle)

from math import *
a =int(input("A:"))
b =int(input("B:"))
Answer = a*2+2*a*b+b*2
print(Answer)

Area Of Circle: 09

14.137166941154069

A: 65
B: 990

130810

# Text Formating/Formation/Concatination

In [32]:
student_name = "Muhammad Bilal"
print(student_name) 
#return function (the value can be put into any variable)
a = "Muhammad Bilal"
print(a)
print(a)
print(a)
#noreturn function (the value can't be put into variable)
a = print("Muhammad Bilal")
print(a)
print(a)
print(a)

Muhammad Bilal
Muhammad Bilal
Muhammad Bilal
Muhammad Bilal
Muhammad Bilal
None
None
None

# Concatination
* `+`
* .format 
* f 
* %

In [49]:
# First Method
First_name = "Muhammad"
Last_name = "Bilal"
Institute_name = "Saylani Mass IT Traning Program"
Age = 19

card = "Institute name: " + Institute_name 
print(card)

Institute name: Saylani Mass IT Traning Program

In [45]:
# Second Method
First_name = "Muhammad"
Last_name = "Bilal"
Institute_name = "Saylani Mass IT Traning Program"
Age = 19

card = """
Institute name ={}
Student Full Name ={}{}
Age ={}
""".format(Institute_name,First_name,Last_name,Age)
print(card)

Institute name =Saylani Mass IT Traning Program
Student Full Name =MuhammadBilal
Age =19

In [51]:
# Third Method
First_name = "Muhammad"
Last_name = "Bilal"
Institute_name = "Saylani Mass IT Traning Program"
Age = 19

card = f"""
Institute name ={Institute_name}
Student Full Name ={First_name}{Last_name}
Age ={Age}
"""
print(card)

Institute name =Saylani Mass IT Traning Program
Student Full Name =MuhammadBilal
Age =19

In [56]:
# Fourth Method
First_name = "Muhammad"
Last_name = "Bilal"
Institute_name = "Saylani Mass IT Traning Program"
Age = 19

card = f"""
institute name = %s
student Full Name = %s %s
age = %d
"""%(Institute_name, First_name, Last_name, Age)

print(card)

institute name = Saylani Mass IT Traning Program
student Full Name = Muhammad Bilal
age = 19

In [86]:
# Inline which cannot change realtime scentence)
print(card.capitalize())
print(card.casefold())
print(card.count("i"))

institute name = saylani mass it traning program
student full name = muhammad bilal
age = 19


institute name = saylani mass it traning program
student full name = muhammad bilal
age = 19

5

In [85]:
print(card)
card.casefold().count("a")

institute name = Saylani Mass IT Traning Program
student Full Name = Muhammad Bilal
age = 19

11

In [82]:
txt = "My name is Muhammad bilal"

x = txt.encode

print(x)

<built-in method encode of str object at 0x00000241A903DE40>

* Date-> 21-3-2023
# Class 4

  *     Oprand      Oprand
  *       2     +      2 
  *             [        
  *             [           
  *          Opreator      
         
  * The whole above process is Known as **"Opretaion"**

* display
* expandtab

In [1]:
# opd opr opd (oprand & opreation)
print(2+2) # 4 (addition Operation)

4

In [2]:
# string
num1 = "1"
num2 = "2"
print(num1+num2) # Addition
# Integer
num3 = 3
num4 = 4
print(num3+num4) # Concatination

12
7

In [4]:
num5 = 5
num6 = "6"
 print(f"num5:{type(num5)}  num6: {type(num6)})

IndentationError: unexpected indent (3554725686.py, line 3)

In [12]:
x = 3 # Integer
y = 6 # Integer
print(x + y) # Addition
print(x - y) # Subtraction
print(x * y) # Multiplication
print(x / y) # FLoat
print(x % y) # Modulus
print(x ** y) # Exponentiation
print(x // y) # Floor Division

9
-3
18
0.5
3
729
0

In [15]:
print(2 + 10) # Addition
print(2 - 10) # Subtraction
print(2 * 10) # Multiplication
print(2 % 10) # Modulus
print(2 ** 3) # Exponentiationprint(10 / 5) # Simple Division
print(10 // 5) # Floor Division
print(11 / 4) # Simple Division
print(11 // 4) # Floor Division

12
-8
20
2
8
2
2.75
2

# Assinged Operator

In [16]:
a = 5 # 5
print(a)
a = a + 1 # 6
print(a)
a += 1 # 7
print(a)

5
6
7

In [18]:
a = 5 
print(a)
a = a - 1 
print(a)
a -= 1 
print(a)

5
4
3

In [19]:
a = 5 
print(a)
a = a * 1 
print(a)
a *= 1 
print(a)

5
5
5

In [20]:
a = 5 
print(a)
a = a / 1 
print(a)
a /= 1 
print(a)

5
5.0
5.0

In [21]:
a = 5 
print(a)
a = a % 1 
print(a)
a %= 1 
print(a)

5
0
0

In [22]:
a = 1   # Assing new value
print(a)
a = 3   # Overwrite old value with new value 3
print(a)
a = 7   # Overwrite value
print(a)
a = 5   # Overwrite value
print(a)

1
3
7
5

In [27]:
# and opreator
b = 11
b &= 3
print(b)
c = 65
c = c & 66
print(c)

3
64

# Comparsion Operator

In [45]:
a = 5
b = 5
print(a == b)
a = 5
b = 9
print(a == b)
a = 5
b = 8
print(a > b)
a = 5
b = 8
print(a < b)
a = 5
b = 5
print(a <= b)
a = 5
b = 5
print(a >= b)
a = 5
b = 5
print(a != b)
a = "65"
b = "66"
print(a > b)
print(a == b)
print(a < b)

True
False
False
True
True
True
False
False
False
True

# Ascii Code

In [42]:
chr(65)

'A'

In [43]:
ord('7')

55

# Logical Operator
Logical operators are used to combine conditional statement.

In [47]:
#        (And) Logical Operator
#       L   op  L   op   L   op   L
print(True and True and True and True) # True
print(True and True and False and True) # False
print(True and True and True and True) # True
print(False and True and False and True) # False
print(False and True and False and False) # False
print(False and False and False and False) # False
#       (Or) Logical Operator
print(True or True or True or True) # True
print(True or True or False or True) # True
print(True and True or True or True) # True
print(False or True or False or True) # True
print(False or True or False or False) # True
print(False or False or False or False) # False
#       (Not) Logical Operator
print(not True) # False
print(not False) # True

True
False
True
False
False
False
True
True
True
True
True
False
False
True

In [51]:
password = input('Enter your password')

print(password == 'abc') # False
print(not password == 'abc') # True
print(not password) # False
print(password) # Pakistan

Enter your password Pakistan

False
True
False
Pakistan

# Deep copy 
* completely 2 different individual things
# Shallow copy 
* Has different name does the same things

# Shallow Copy

In [54]:
# Example of shallow copy
a = 2
b = 2
c = 2
print(id(a), id(b), id(c))
print(a)
print(b)
print(c)

2314051545424 2314051545424 2314051545424
2
2
2

In [56]:
a = 2
b = '2'
print(id(a),id(b))

2314051545424 2314058441968

In [57]:
b = 5
print(id(b))

2314051545520

# Deep Copy

In [61]:
# Example of Deep copy
saylani = ["bilal"]
student = saylani.copy()

print(saylani,student)
print(id(saylani),id(student))
print(saylani == student)
print(saylani is student) # Objectives are different (physical aren't same)
print(saylani is not student)

['bilal'] ['bilal']
2314171061184 2314169568640
True
False
True

# Membership Operator
Membership operator are used to test if a sequence is presented in an object

In [62]:
message = "pakistan Zinda bad we love oyr country!"
print('zinda' in message)
print('Zinda' in message)
print('Bilal' in message)

False
True
False

In [63]:
names = ['Hamza','Qasim','Bilal','Basit']

print('Basit' in names)
print('Bilal' in names)
print('Naeem' in names)
print('Qasim' not in names)

True
True
False
False

* Date->24-03-2023
# Class 5

* #### Data Type (List)
###### Python is a dynamic data type which is called Typing Casting.
* List starts with `[` and ends with `]`.
* Value/item `stores any type of data`.
* Seprator betwwen 2 items
* ### Indexing
* Positve indexing `--->` Left to Right always starts with `Zero` .

* Negative indexing `--->` Right to Left always ends with `Zero` .
* Extracting value from list with index value `variable-name[index-name` .
* The value of indexing will be picked up from left to right .

#### Slicing
* `variable[star:end:step]` All parameters are numbers
    * **start** Include
    * **end** Exclude (end-1)
    * **step** Sequence (--> 1)

In [10]:
stdid1 = 1
stdname1 = 'Bilal'
stdfname1 = 'Afzal'

stdid2 = 2
stdname2 = 'Umer'
stdfname2 = 'Akmal'

print(stdname1,stdfname1,stdname2,stdfname2)

Bilal Afzal Umer Akmal

In [7]:
names = ['Atif','Kashif','Suleman',10010,20020,30030,True & False]
print(names)

['Atif', 'Kashif', 'Suleman', 10010, 20020, 30030, False]

In [12]:
# Indexing
#---->     0        1        2       3     4     5     6      (Positive Indexing)
names = ['Bilal','Zohair','Basit',10010,20020,30030,True]
#---->    -7       -6        -5      -4    -3    -2    -1     (Negative Indexing)
print(names)
print(names[-2]) 
print(names[5])
print(names[0],names[1],names[2]) # (PI)
print(names[-7],names[-6],names[-5]) #  (NI)

['Bilal', 'Zohair', 'Basit', 10010, 20020, 30030, True]
30030
30030
Bilal Zohair Basit
Bilal Zohair Basit

* ### Old  Programming code style for printing all aray Values

In [16]:
names = ['Bilal','Zohair','Basit',10010,20020,30030,True]
counter = 1
while counter < 5:
    print(names[counter])
    counter += 1

Zohair
Basit
10010
20020

* ### Now Print with Pythonic Style

In [14]:
names = ['Bilal','Zohair','Basit',10010,20020,30030,True]
for name in names:
    print(name)

Bilal
Zohair
Basit
10010
20020
30030
True

* ### Slicing
* In Slicing, If the `step` will not be given. The slicing won't work.
* By default the values goes from left to right.
* If the `end` is not given. It will pick it on its own.

In [21]:
#---->     0        1        2       3     4     5     6
names = ['Bilal','Zohair','Basit',10010,20020,30030,True]
#---->    -7       -6        -5      -4    -3    -2    -1
print(names[1:6])
print(names[-1:-7:-2])
print(names[::1])
print(names[::2])
print(names[::3])
print(names[::-1])
print(names[4:-7])
print(names[4:-7:-1])
print(names[-7:4])

['Zohair', 'Basit', 10010, 20020, 30030]
[True, 20020, 'Basit']
['Bilal', 'Zohair', 'Basit', 10010, 20020, 30030, True]
['Bilal', 'Basit', 20020, True]
['Bilal', 10010, True]
[True, 30030, 20020, 10010, 'Basit', 'Zohair', 'Bilal']
[]
[20020, 10010, 'Basit', 'Zohair']
['Bilal', 'Zohair', 'Basit', 10010]

In [25]:
#---->     0        1        2       3     4     5     6
names = ['Bilal','Zohair','Basit',10010,20020,30030,True,'Pakistan']
#---->    -7       -6        -5      -4    -3    -2    -1

print(names[:3])
print(names[:6:3])
print(names[0:-1:1])

['Bilal', 'Zohair', 'Basit']
['Bilal', 10010]
['Bilal', 'Zohair', 'Basit', 10010, 20020, 30030, True]

* ### Apply Opreators on data types

In [26]:
l1 = ['Pakistan',1000,2000]
l2 = ['abc','xyz']
l1 + l2

['Pakistan', 1000, 2000, 'abc', 'xyz']

In [27]:
l1 * 3

['Pakistan', 1000, 2000, 'Pakistan', 1000, 2000, 'Pakistan', 1000, 2000]

In [30]:
'pakistan' * 3

'pakistanpakistanpakistan'

* ### List data type methods

In [32]:
[i for i in dir(list) if "__" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
# Append -> appends value as an item
names =[]
names.append('Bilal')
names.append('Zohair')
names.append('Basit')
names.append([1,2,3])

print(names)

['Bilal', 'Zohair', 'Basit', [1, 2, 3]]

In [40]:
l3 = ['pakistan',1000,2000]
print(l3)
l3.clear()
print(l3)

['pakistan', 1000, 2000]
[]

* ### Remove value from list search with string

In [42]:
l1 = ['a','b','c','a','x','y','z']
remove_item = input("enter Item: ")
indx = l1.index(remove_item)
print(remove_item,type(remove_item))
print(indx,type(indx))
l1.pop(indx)

enter Item:  a

a <class 'str'>
0 <class 'int'>

'a'

In [48]:
l1 = ['a','b','c','a','x','y','z']
l1.remove('x')
print(l1)

['a', 'b', 'c', 'a', 'y', 'z']

In [50]:
l1 = ['a','b','c','a','x','y','z']
remove_item = input("Enter item: ")
l1.remove(remove_item)
print(l1)

Enter item:  a

['b', 'c', 'a', 'x', 'y', 'z']

In [53]:
l1 = ['a','b','c','a','x','y','z']
remove_item = input("Enter item: ")
for i in range(l1.count(remove_item)):
    a = l1.remove(remove_item)
    print(a)
print(l1)

Enter item:  b

None
['a', 'c', 'a', 'x', 'y', 'z']

* Date->28-03-2023
# Class6

* ### List comprehansive .
* for loop semi colon `:` is important .
* When the enter button is clicked an `structure block` is formed .
* List comprehansive means concerting a loop into a list bt adding `[]` on the start & end .
* Nested Loop means making a list in a list .
* range
* Tuple
* Set
* Dictatinory

In [10]:
range(11)

range(0, 11)

In [ ]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [8]:
for i in range(11):
    print(f'{2} X {i} = {2*i}')

2 X 0 = 0
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [29]:
Table = int(input("Enter the number for table:"))
for i in range(11):
    print(f"{Table} X {i} = {Table*i}")

Enter the number for table: 9

9 X 0 = 0
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

In [9]:
table = int
for i in range(1,11):
    print("itreation no",i)

itreation no 1
itreation no 2
itreation no 3
itreation no 4
itreation no 5
itreation no 6
itreation no 7
itreation no 8
itreation no 9
itreation no 10

In [12]:
# List comprehansive 
[print("itreation no",i)for i in range(1,11)]

itreation no 1
itreation no 2
itreation no 3
itreation no 4
itreation no 5
itreation no 6
itreation no 7
itreation no 8
itreation no 9
itreation no 10

[None, None, None, None, None, None, None, None, None, None]

In [15]:
[i for i in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
[i*10+6-2//3 for i in range(1,11)]

[16, 26, 36, 46, 56, 66, 76, 86, 96, 106]

In [21]:
for i in range(1,11):
    for j in range(1,i+1):
        print((i,j),end=" ")
    print()

(1, 1)
(2, 1) (2, 2)
(3, 1) (3, 2) (3, 3)
(4, 1) (4, 2) (4, 3) (4, 4)
(5, 1) (5, 2) (5, 3) (5, 4) (5, 5)
(6, 1) (6, 2) (6, 3) (6, 4) (6, 5) (6, 6)
(7, 1) (7, 2) (7, 3) (7, 4) (7, 5) (7, 6) (7, 7)
(8, 1) (8, 2) (8, 3) (8, 4) (8, 5) (8, 6) (8, 7) (8, 8)
(9, 1) (9, 2) (9, 3) (9, 4) (9, 5) (9, 6) (9, 7) (9, 8) (9, 9)
(10, 1) (10, 2) (10, 3) (10, 4) (10, 5) (10, 6) (10, 7) (10, 8) (10, 9) (10, 10)

In [24]:
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]
print(data[0])
print(data[0][0])

[1, 2, 3]
1

In [30]:
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]
for row in range(len(data)):
    print(data[row],row)

[1, 2, 3] 0
[4, 5, 6] 1
[7, 8, 9] 2

In [31]:
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]
for row in range(len(data)):
    for col in range(len(data[row])):
        print(data[row][col],end=" ")
    
    print()

1 2 3
4 5 6
7 8 9

In [34]:
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]
for row in data:
    for col in row :
        print(col,end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [33]:
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]

[data[row][col] for row in range(len(data)) for col in range(len(data[row]))]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

* ## Tuple
* The tuple is define as it contains round bracket `()` & the second is coma `,` seprated values .
* The list define as it contains square bracket `[]` .
* Tuple isn't fully immuteable .
* `Tuple` is immuteable & `List` is muteable .
* `Muteable` which is change able .
* `Immuteable` which is not change able .

In [38]:
data =('a','b','c')
print(type(data))
print(data[0:3])

<class 'tuple'>
('a', 'b', 'c')

In [83]:
a = ('a','b','c',[1,2,3])
a[3].append(8)
a[3][0] = 100
a

('a', 'b', 'c', [100, 2, 3, 8])

* ## Dictationary
* Starts & Ends with curly bracket `{}` .
* Item
    * `key` : `value`
        *key = hashable type = int,str   # key is alwatys constant either it will be string or integer .
        * value = any type .
        * Semicolon`:` seprator between key value .

In [44]:
#   0=name          1=fathername        2=cnic     3=roll  4=sgin
["Muhammad Bilal","Muhammad Afzal","42101-6440508-7",11,"bilal"]

['Muhammad Bilal', 'Muhammad Afzal', '42101-6440508-7', 11, 'bilal']

In [84]:
#simple and easy way to make dictatonary
# 1st method
data = {
    "name":"muhammad bilal",
    "father_name":"muhammad afzal",
    "cnic":"42101-6440508-7",
    "roll_no":"120312",
    "signature":"bilal",
}
data["name"],data["father_name"],data["cnic"],data["roll_no"],data["signature"]

('muhammad bilal', 'muhammad afzal', '42101-6440508-7', '120312', 'bilal')

In [94]:
# 2nd method
data = {} #empty dictationary

data['name']="muhammad Bilal"
data['father_name']="Muhammad Afzal"

print(data,type(data))

{'name': 'muhammad Bilal', 'father_name': 'Muhammad Afzal'} <class 'dict'>

In [93]:
# 2nd method
data = {} #empty dictationary

data['name']="muhammad Bilal"
data['father_name']="Muhammad Afzal"

print(data.get('name'))
print(data.get('roll_no'))
print(data.get('roll_no','not avaliable'))

muhammad Bilal
None
not avaliable

In [96]:
dict.fromkeys(['name','id','father_name','cnic'])

{'name': None, 'id': None, 'father_name': None, 'cnic': None}

In [100]:
data = {
    "name":"muhammad bilal",
    "father_name":"muhammad afzal",
    "cnic":"42101-6440508-7",
    "roll_no":"120312",
    "signature":"bilal",
}     #keys      #values
data.items()

dict_items([('name', 'muhammad bilal'), ('father_name', 'muhammad afzal'), ('cnic', '42101-6440508-7'), ('roll_no', '120312'), ('signature', 'bilal')])

In [98]:
data.keys()

dict_keys(['name', 'father_name', 'cnic', 'roll_no', 'signature'])

In [101]:
data.values()

dict_values(['muhammad bilal', 'muhammad afzal', '42101-6440508-7', '120312', 'bilal'])

In [102]:
a,b = ('aa','bb') # unpack,unzip
print(a)
print(b)

aa
bb

In [1]:
# Home work
data = {
    "a":3,
    "b":2,
    "c":4,
}

* Date-> 31-3-2023
# Class 7

* ### Linear programming

In [4]:
print("pakistan Zindabad")
print("pakistan Zindabad")
print("pakistan Zindabad")
print("pakistan Zindabad")
print("pakistan Zindabad")

pakistan Zindabad
pakistan Zindabad
pakistan Zindabad
pakistan Zindabad
pakistan Zindabad

* ### Structural programming
* Structure program is also called Control programming.
* When it is applied the colour becomes `Green`.
* After entering it forms an structure block .

In [9]:
for num in range(1,6):
    print("pakistan zindabad")
    print("\t saylani mass it traning program")

pakistan zindabad
	 saylani mass it traning program
pakistan zindabad
	 saylani mass it traning program
pakistan zindabad
	 saylani mass it traning program
pakistan zindabad
	 saylani mass it traning program
pakistan zindabad
	 saylani mass it traning program

* ### Control
* if
    * else
    * elif
* for/while
    * break
    * continue
    * pass
    * else
* def
* try

* ## if
* else
* elif
* ` if logic:`
*      `True_block_body`
*  `else :`
*       `False_block_body `

In [13]:
print("Pakistan")
print("America")

Pakistan
America

In [18]:
if True:
    print("Pakistan")
else:
    print("America")

if False:
    print("Pakistan")
else:
    print("America")

Pakistan
America

In [19]:
num = int(input("Enter any number:"))

if num % 2 == 0:
    print(f"the {num} is Even!")
else:
    print(f"the {num} is Odd!")

Enter any number: 2616

the 2616 is Even!

In [29]:
per = int(input("Enter your marks:"))

if per >= 90:     # Logic 1
    print("A++")
elif per>= 80:    # Logic 2
    print("A+")
elif per>= 70:    # Logic 3
    print("A")
elif per>= 60:    # Logic 4
    print("B")
elif per>= 50:    # Logic 5
    print("C")
elif per>= 40:    # Logic 6
    print("D")
elif per>= 35:    # Logic 7
    print("E")
else:             # Logic 8
    print("fail")

print("Your percentage is",per)

Enter your marks: 87

A+
Your percentage is 87

In [28]:
per = int(input("Enter Percentage"))

if per >= 0 and per < 33:     # Logic 1
    print("Fail")
elif per>= 35 and per < 40:    # Logic 2
    print("E")
elif per>= 40 and per < 50:    # Logic 3
    print("D")
elif per>= 50 and per < 60:    # Logic 4
    print("C")
elif per>= 60 and per < 70:    # Logic 5
    print("B")
elif per>= 70 and per < 85:    # Logic 6
    print("A")
elif per>= 85 and per < 100:    # Logic 7
    print("A++")

Enter Percentage 78

A

In [35]:
Username = input("Enter username")
Password = input("Enter password")

if Username == "admin" and Password == "admin":     # Logic 1
    print("Valid user")
else:    # Logic 2
    print("Invalid user")
    
Username = input("Enter username")
Password = input("Enter password")

if Username.lower() == "admin" and Password == "admin":     # Logic 1
    print("Valid user")
else:    # Logic 2
    print("Invalid user")

Enter username admin
Enter password admin

Valid user

Enter username ADMIN
Enter password admin

Valid user

In [37]:
Username = input("Enter username")
Password = input("Enter password")
print("Valid user") if Username.lower() == "admin" and Password == "admin" else print("Invalid user")

Enter username ADMIN
Enter password admin

Valid user

In [46]:
for i in ['a','b','c','d','e',1,2,3,4,5,'mno','xyz']:
    print(i)

a
b
c
d
e
1
2
3
4
5
mno
xyz

In [79]:
list in enumerate(['a','b','c','d','e',1,2,3,4,5,'mno','xyz'])

False

* ### ASCII Code
* ord
* chr

In [62]:
print(ord('w'))
print(ord('r'))
print(ord('t'))

119
114
116

In [63]:
print(chr(119))
print(chr(114))
print(chr(116))

w
r
t

In [80]:
for i in range(65,91):
    print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [64]:
[chr(i) for i in range(65,91)]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

* ### Loop control
* `break` .
* `continue` .
* `pass` .

In [81]:
for i in range(1,11):
    print(i)
    break
    
for i in range(1,11):
    print(i)
    if i == 5:
            break

1
1
2
3
4
5

In [90]:
# made a database with dictationary.
data = [{'id':1,'name':'Muhammad Bilal','u':'Bilal','p':'123'},
        {'id':2,'name':'Muhammad Zohair','u':'Zohair','p':'123'},
        {'id':3,'name':'Muhammad Basit','u':'Basit','p':'123'}]
user = input("Enter username")
password = input("Password")

for d in data:
    if d['u'] == user and d['p'] == password:
        print(d)
        break

Enter username Bilal
Password 123

{'id': 1, 'name': 'Muhammad Bilal', 'u': 'Bilal', 'p': '123'}

In [95]:
for i in range(1,11):
    print(i)
    continue

1
2
3
4
5
6
7
8
9
10

In [93]:
for i in range(1,11):
    print(i)
    pass
if True:
    pass
else:
    pass

1
2
3
4
5
6
7
8
9
10

* ### While Loop .
* while keyword is very similar to if .
* counter .
* logic .
* loop body .
* increment/decrement .

In [104]:
counter = 0
while counter < 100 :
    print(counter,'year')
    counter +=1

0 year
1 year
2 year
3 year
4 year
5 year
6 year
7 year
8 year
9 year
10 year
11 year
12 year
13 year
14 year
15 year
16 year
17 year
18 year
19 year
20 year
21 year
22 year
23 year
24 year
25 year
26 year
27 year
28 year
29 year
30 year
31 year
32 year
33 year
34 year
35 year
36 year
37 year
38 year
39 year
40 year
41 year
42 year
43 year
44 year
45 year
46 year
47 year
48 year
49 year
50 year
51 year
52 year
53 year
54 year
55 year
56 year
57 year
58 year
59 year
60 year
61 year
62 year
63 year
64 year
65 year
66 year
67 year
68 year
69 year
70 year
71 year
72 year
73 year
74 year
75 year
76 year
77 year
78 year
79 year
80 year
81 year
82 year
83 year
84 year
85 year
86 year
87 year
88 year
89 year
90 year
91 year
92 year
93 year
94 year
95 year
96 year
97 year
98 year
99 year